<div class="flex flex-col min-h-screen">
  <!-- Header -->
  <div class="pb-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-2xl font-bold">All Tests</h1>
    </div>
  </div>

  <!-- Main Content -->
  <main class="flex-1 container mx-auto p-6">
    <!-- Recent Tests Table -->
    <div class="bg-white p-4 rounded-lg shadow-md">
      <table class="w-full text-left table-auto border-collapse">
        <thead>
          <tr class="bg-gray-200">
            <th class="p-2 border-b">Date Taken</th>
            <th class="p-2 border-b">User</th>
            <th class="p-2 border-b">Title</th>
            <th class="p-2 border-b">Score</th>
            <th class="p-2 border-b">Percentage</th>
            <th class="p-2 border-b">Duration (mins)</th>
            <th class="p-2 border-b">Status</th>
          </tr>
        </thead>
        <tbody>
          <% tests.forEach(test => { %>
          <tr class="border-b hover:bg-gray-50">
            <td class="p-2"><%= new Date(test?.createdAt).toDateString() %></td>
            <td class="p-2"><%= test?.user?.full_name %></td>
            <td class="p-2"><%= test.title %></td>
            <td class="p-2"><%= test.score %></td>
            <td class="p-2"><%= test.percentage %> %</td>
            <td class="p-2"><%= test.duration %></td>
            <td class="p-2 capitalize"><%= test.status %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </main>
</div>
